[Unit]
Description=Hoymiles Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=hoymiles
Group=hoymiles
Type=simple

EnvironmentFile=/etc/default/hoymiles-%I
ExecStart=/home/hoymiles/hoymilesProm.py --dtu-ip ${DTU_IP}

[Install]
WantedBy=multi-user.target
